<a href="https://colab.research.google.com/github/martianjob/chatbot/blob/main/capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import os
import string

In [ ]:
# Mounting Google Drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

os.chdir('/content/drive/My Drive/Colab Notebooks/NLP/CAPSTONE/')

In [ ]:
# locading input data from csv 
data = pd.read_csv("IHMStefanini_industrial_safety_and_health_database_with_accidents_description.csv")
data.head(5)

   Unnamed: 0  ...                                        Description
0           0  ...  While removing the drill rod of the Jumbo 08 f...
1           1  ...  During the activation of a sodium sulphide pum...
2           2  ...  In the sub-station MILPO located at level +170...
3           3  ...  Being 9:45 am. approximately in the Nv. 1880 C...
4           4  ...  Approximately at 11:45 a.m. in circumstances t...

[5 rows x 11 columns]

In [ ]:
data = data.drop(data.columns[[0,1,2,3]],axis=1)

In [ ]:
data.head(5)

  Industry Sector  ...                                        Description
0          Mining  ...  While removing the drill rod of the Jumbo 08 f...
1          Mining  ...  During the activation of a sodium sulphide pum...
2          Mining  ...  In the sub-station MILPO located at level +170...
3          Mining  ...  Being 9:45 am. approximately in the Nv. 1880 C...
4          Mining  ...  Approximately at 11:45 a.m. in circumstances t...

[5 rows x 7 columns]

In [ ]:
# Removing punctuations
data['Description'] = data['Description'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
print(f'punctuations {string.punctuation} removed ')

punctuations !"#$%&'()*+,-./:;<=>?@[\]^_`{|}~ removed

In [ ]:
# Convert text to lowercase
data['Description'] = data['Description'].apply(lambda x: x.lower())
print("Converted Description to lowercase")

Converted Description to lowercase

In [ ]:
#Remove single letter word
data['Description'] = data['Description'].apply(lambda x:re.sub(r'\b\w{1}\b',"",x ,flags=re.I))

In [ ]:
#Remove NA
data['Description'] = data['Description'].apply(lambda x:re.sub(r'\bNA\b',"",x ,flags=re.I))

In [ ]:
#Removing the email addresses
data['Description'] = data['Description'].apply(lambda x: re.sub(r"\S+@\S+", "",x ,flags=re.I))

In [ ]:
#Remove all date formats 
#pattern_str="^(?:\d{1,2}(?:(?:-|/)|(?:th|st|nd|rd)?\s))?(?:(?:(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)(?:(?:-|/)|(?:,|\.)?\s)?)?(?:\d{1,2}(?:(?:-|/)|(?:th|st|nd|rd)?\s))?)(?:\d{2,4})$"
data['Description'] = data['Description'].apply(lambda x: re.sub(r"^(?:\d{1,2}(?:(?:-|/)|(?:th|st|nd|rd)?\s))?(?:(?:(?:Jan(?:uary)?|Feb(?:ruary)?|Mar(?:ch)?|Apr(?:il)?|May|Jun(?:e)?|Jul(?:y)?|Aug(?:ust)?|Sep(?:tember)?|Oct(?:ober)?|Nov(?:ember)?|Dec(?:ember)?)(?:(?:-|/)|(?:,|\.)?\s)?)?(?:\d{1,2}(?:(?:-|/)|(?:th|st|nd|rd)?\s))?)(?:\d{2,4})$", "",s ,flags=re.I))

In [ ]:
#Remove digits
data['Description'] = data['Description'].apply(lambda x: re.sub(r"\d", "",x ,flags=re.I))

In [ ]:
import random, re
# Strip unwanted spaces
data['Description'] = data['Description'].apply(lambda x: re.sub(' +', ' ', x))
print("Striped unwanted spaces")

Striped unwanted spaces

In [ ]:
# Removing stopwords
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
stopwords = set(stopwords.words('english'))
data['Description'] = data['Description'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords]))
print("Removed the stopwords in the Description column")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
Removed the stopwords in the Description column

In [ ]:
data['Description'].head(10)

0    removing drill rod jumbo 08 maintenance superv...
1    activation sodium sulphide pump piping uncoupl...
2    substation milpo located level 170 collaborato...
3    945 approximately nv 1880 cx695 ob7 personnel ...
4    approximately 1145 circumstances mechanics ant...
5    unloading operation ustulado bag need unclog d...
6    collaborator reports street 09 holding left ha...
7    approximately 0450 pm mechanic technician josé...
8    employee sitting resting area level 326 raise ...
9    moment forklift operator went manipulate big b...
Name: Description, dtype: object

In [ ]:
print("Lemetizeing the words")
import nltk
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet as wn
wordNet = WordNetLemmatizer()
#data['Description'] = data['Description'].apply(lambda x: ' '.join([ wordNet.lemmatize(word)  for word in x.split()]))

def lem(text):
    pos_dict = {'N': wn.NOUN, 'V': wn.VERB, 'J': wn.ADJ, 'R': wn.ADV}
    return(' '.join([wordNet.lemmatize(w,pos_dict.get(t, wn.NOUN)) for w,t in nltk.pos_tag(text.split())]))

print('Applying Lemmatizer')
data['Description'] = data['Description'].apply(lambda x: lem(x))

Lemetizeing the words
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
Applying Lemmatizer

In [ ]:
data['Description'].head(10)

0    removing drill rod jumbo 08 maintenance superv...
1    activation sodium sulphide pump piping uncoupl...
2    substation milpo located level 170 collaborato...
3    945 approximately nv 1880 cx695 ob7 personnel ...
4    approximately 1145 circumstance mechanic antho...
5    unloading operation ustulado bag need unclog d...
6    collaborator report street 09 holding left han...
7    approximately 0450 pm mechanic technician josé...
8    employee sitting resting area level 326 raise ...
9    moment forklift operator went manipulate big b...
Name: Description, dtype: object

In [ ]:
wordNet.lemmatize('better')

In [ ]:
x="NAI Hi NA sanjay a good boy l  NA"
#re.sub(r'\b\w{1}\b', "",x ,flags=re.I)
re.sub(r'\bNA\b', "",x ,flags=re.I)

'NAI Hi  sanjay a good boy l  '